
* {
	box-sizing: border-box;
	
  &:after {
		content: "";
		clear: both;
		display: block;
	}
	
	&:after,
	&:before {
		box-sizing: border-box;
	}
}

i,
a,
sup, 
img,
sub,
span,
small,
input, 
label,
button,
strong,
textarea {
	&:after {
		display: inherit
	}
}

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}



